<div class="grey-background">

<table class="dragtable">
    <tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr>
    <tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr><tr class="row-block">
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
        <td class="emplty-box"></td>
    </tr>

</table>

</div>
