<div class="box-layout-conatiner">
  <div class="btn-group">
    <button type="button" class="b-right  btn" [ngClass]="{'btn-info' : displayTemplates==='lockers', 'btn-default': displayTemplates!=='lockers'}" (click)="displayTemplateLockers('lockers')">Lockers</button>
    <button type="button" class="btn"  [ngClass]="{'btn-info': displayTemplates!=='lockers', 'btn-default': displayTemplates==='lockers'}"  (click)="displayTemplateLockers('templatesData')">Template</button>

  </div>
  <div class="lockersContainer" *ngIf="displayTemplates==='lockers'  else templatesData">
    <div class="d-flex">
      <div class="kisosk draggableElement" draggable="true" (dragstart)="drag($event, 'kisosk')">
      </div>
      <div class="atmMachine draggableElement" draggable="true" (dragstart)="drag($event, 'rentSeller')">
      </div>
    </div>
    <div class="d-flex">
      <div class="draggableElementText">
        Kiosk
      </div>
      <div class="draggableElementText">
        Rent Seller
      </div>
    </div>
    <div class="d-flex">
      <div class="smLocker locker-border lockers draggableElement" draggable="true"
        (dragstart)="drag($event , 'smlocker')">
        <div class="lockerStatus b-white"></div>
      </div>
      <div class="mdLocker locker-border lockers draggableElement" draggable="true"
        (dragstart)="drag($event, 'mdLocker')">
        <div class="lockerStatus b-red"></div>
      </div>
    </div>
    <div class="d-flex">
      <div class="draggableElementText">
        Small Locker
        <p>10 x 10 x 15.25</p>
      </div>
      <div class="draggableElementText">
        Med Locker
        <p>18 x 18 x 15.25</p>
      </div>
    </div>
    <div class="d-flex">
      <div class="lgLocker locker-border lockers draggableElement" draggable="true"
        (dragstart)="drag($event, 'lgLocker')">
        <div class="lockerStatus b-green"></div>
      </div>
      <div class="xlLocker locker-border lockers draggableElement" draggable="true"
        (dragstart)="drag($event, 'xlLocker')">
        <div class="lockerStatus b-yellow"></div>
      </div>
    </div>
    <div class="d-flex">
      <div class="draggableElementText">
        Large Locker
        <p>24 x 24 x 15.25</p>
      </div>
      <div class="draggableElementText">
        XL Locker
        <p>30 x 30 x 15.25</p>
      </div>
    </div>
  </div>
  <ng-template #templatesData>
    <div class="d-flex">
      <div class="kisosk draggableElement" draggable="true" (dragstart)="drag($event, 'sampleTemplate1')">
      </div>
      <div class="atmMachine draggableElement" draggable="true" (dragstart)="drag($event, 'sampleTemplate2')">
      </div>
    </div>
    <div class="d-flex">
      <div class="draggableElementText">
        Sample Template 1
        <p>76 x 18 x 15.25</p>
        <button class="btn btn-primary" (click)="loadTemplate()"> Load Template</button>
      </div>
      <div class="draggableElementText">
        Sample Template 2
        <p>76 x 18 x 15.25</p>
      </div>
    </div>
  </ng-template>
</div>