<div class="box-layout-conatiner">
  <div class="btn-group">
    <button type="button" class="b-right  btn" [ngClass]="{'btn-info' : displayTemplates==='lockers', 'btn-default': displayTemplates!=='lockers'}" (click)="displayTemplateLockers('lockers')">Lockers</button>
    <button type="button" class="btn"  [ngClass]="{'btn-info': displayTemplates!=='lockers', 'btn-default': displayTemplates==='lockers'}"  (click)="displayTemplateLockers('templatesData')">Template</button>

  </div>
  <div class="lockersContainer" *ngIf="displayTemplates==='lockers'  else templatesData">
    <div *ngFor="let locker of lockersLists; index as i; first as isFirst" class="lockerContainerBox">
        <div *ngIf="(locker.lockerTypeId==1)" class="kisosk draggableElement" draggable="true" (dragstart)="drag($event, 'kisosk', {})">
        </div>
        <div *ngIf="(locker.lockerTypeId==2)" class="atmMachine draggableElement" draggable="true" (dragstart)="drag($event, 'rentSeller', {})">
        </div>
        <div *ngIf="(locker.lockerTypeId==0)" class="locker-border lockers draggableElement"  [ngClass]="locker.layoutClass" [style.height.px]="locker.cssHeight" [style.width.px]="locker.cssWidth" draggable="true"
          (dragstart)="drag($event , 'locker', locker)">
          <div class="lockerStatus b-white"></div>
        </div>
        <div class="draggableElementText">
          {{locker.lockerName}}
          <p>{{locker.lockerSizeDispaly}}</p>
        </div>
      </div>
  </div>
  <ng-template #templatesData>
    <div *ngFor="let user of savedTemplates; index as i; first as isFirst" style="padding-top:10px;">
      <div class="templateClass"   draggable="true"
        (dragstart)="drag($event , 'templates', user)">
        <img src="{{user.railClass}}">
      </div>
      <div class="draggableElementText">
        {{user.templateName}}
        <p>Created On 31/05/2021</p>
        <button class="btn btn-primary" (click)="loadTemplate()"> Load Template</button>
      </div>
    </div>
    
  </ng-template>
</div>