.lockerStatus{
    position: absolute;
    top: 50%;
    right: 10px;
    min-width: 25px;
    min-height: 10px;
    border-radius: 5px;
}
.b-white {
    background: #fff;
}
.b-yellow {
    background: #FDBC2C;
}
.b-red {
    background: #FD5E57;
}
.b-green {
    background: #28C741;
}
.locker-border {
    border:2px solid #15AEEF;
}}
