@import "~bootstrap/dist/css/bootstrap.css";
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    width: 100%;
    height: 100%;
}
.toolbar {
    // border-top: 2px solid #ccc;
    height: 600px;
}
.height-full {
    height: 100%;
}
